.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
}

.nav-logo {
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #7f471f;
    margin-left: 30px;
}

.nav-cart {
    max-width: 30px;
    width: 100%;
    display: block;
    margin-right: 30px;
}